<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback List</title>
</head>
<body>
    <h1>Feedback List</h1>
    <ul>
        <% feedbackList.forEach((feedback) => { %>
            <li>
                <strong>Company Name:</strong> <%= feedback.companyName %><br>
                <strong>Pros:</strong> <%= feedback.pros %><br>
                <strong>Cons:</strong> <%= feedback.cons %><br>
                <strong>Rating:</strong> <%= feedback.rating %>/5
            </li>
            <br>
        <% }); %>
    </ul>
</body>
</html> -->
